OAUTH2_AUTHORIZE_URL=https://iam.unipi.it/oauth2/authorize
OAUTH2_TOKEN_URL=https://iam.unipi.it/oauth2/token
OAUTH2_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxxxx
OAUTH2_CLIENT_SECRET=yyyyyyyyyyyyyyyyyyyyyyyyy
OAUTH2_USERINFO_URL=https://iam.unipi.it/oauth2/userinfo
